@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes swipe {
    from {
        transform: translateX(5px);
    }
    to {
        transform: translateX(0);
    }
}
